<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
豆瓣音乐 Top 250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img1.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img1.doubanio.com/f/music/3451f4db67b2c8e2f4d8112eee591db9fd236975/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img1.doubanio.com/f/shire/4888ee2fda6812f70a064a51c93b84fde8e4a3c2/js/douban.js"></script>
    <script src="https://img1.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img1.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/music/ea0c776c52fba60e24e92ea802336c1fe9697ff4/css/music/init.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/f/music/48c72cb4243c8628ce0a8f65a9f474150ce9f0c4/css/music/_init_.css"/>

    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
   



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=music" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




      



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;music/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://music.douban.com/topics/"
     >专题</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://fm.douban.com/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://fm.douban.com/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://music.douban.com/annual/2023/?fullscreen=1&source=navigation"
            target="_blank"
     >2023年度榜单</a>
    </li>
  </ul>
</div>

    <a href="https://music.douban.com/annual/2023/?source=music_navigation" class="musicannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/music/bundle.js" defer="defer"></script>





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐 Top 250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    

        
        <p class="ul first"></p>
        <table width="100%%">
            <tr class="item" id="2995812">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/2995812/" onclick="moreurl(this,{i:'0',query:'',subject_id:'2995812',from:'music_subject_search'})" title="Jason Mraz - We Sing. We Dance. We Steal Things."  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s2967252.jpg" alt="Jason Mraz - We Sing. We Dance. We Steal Things." style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2995812/" onclick="moreurl(this,{i:'0',query:'',subject_id:'2995812',from:'music_subject_search'})" >
            We Sing. We Dance. We Steal Things.
       </a>

            <p class="pl">Jason Mraz / 2008-05-13 / Import / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            116466人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2995812"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="3040149">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/3040149/" onclick="moreurl(this,{i:'1',query:'',subject_id:'3040149',from:'music_subject_search'})" title="Coldplay - Viva La Vida"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s3054604.jpg" alt="Coldplay - Viva La Vida" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3040149/" onclick="moreurl(this,{i:'1',query:'',subject_id:'3040149',from:'music_subject_search'})" >
            Viva La Vida
                <span style="font-size:12px;">Death And All His Friends</span>
       </a>

            <p class="pl">Coldplay / 2008-06-17 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            119248人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3040149"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1427374">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1427374/" onclick="moreurl(this,{i:'2',query:'',subject_id:'1427374',from:'music_subject_search'})" title="陈绮贞 - 华丽的冒险"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s1441645.jpg" alt="陈绮贞 - 华丽的冒险" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1427374/" onclick="moreurl(this,{i:'2',query:'',subject_id:'1427374',from:'music_subject_search'})" >
            华丽的冒险
                <span style="font-size:12px;">華麗的冒險</span>
       </a>

            <p class="pl">陈绮贞 / 2005-09-23 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            91182人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1427374"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1403307">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1403307/" onclick="moreurl(this,{i:'3',query:'',subject_id:'1403307',from:'music_subject_search'})" title="周杰伦 - 范特西"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s3750422.jpg" alt="周杰伦 - 范特西" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1403307/" onclick="moreurl(this,{i:'3',query:'',subject_id:'1403307',from:'music_subject_search'})" >
            范特西
                <span style="font-size:12px;">Fantasy</span>
       </a>

            <p class="pl">周杰伦 / 2001-09-14 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.5</span>
                <span class="pl">
                    (
                            180745人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1403307"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="3259411">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/3259411/" onclick="moreurl(this,{i:'4',query:'',subject_id:'3259411',from:'music_subject_search'})" title="五月天 - 後。青春期的詩"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s3316597.jpg" alt="五月天 - 後。青春期的詩" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3259411/" onclick="moreurl(this,{i:'4',query:'',subject_id:'3259411',from:'music_subject_search'})" >
            後。青春期的詩
                <span style="font-size:12px;">后青春期的诗</span>
       </a>

            <p class="pl">五月天 / 2008-10-23 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            96113人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3259411"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="5958397">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/5958397/" onclick="moreurl(this,{i:'5',query:'',subject_id:'5958397',from:'music_subject_search'})" title="孙燕姿 - 是时候"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s4653287.jpg" alt="孙燕姿 - 是时候" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/5958397/" onclick="moreurl(this,{i:'5',query:'',subject_id:'5958397',from:'music_subject_search'})" >
            是时候
                <span style="font-size:12px;">It&#39;s Time</span>
       </a>

            <p class="pl">孙燕姿 / 2011-03-08 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            82596人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_5958397"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="3184419">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/3184419/" onclick="moreurl(this,{i:'6',query:'',subject_id:'3184419',from:'music_subject_search'})" title="Lenka - Lenka"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s3259484.jpg" alt="Lenka - Lenka" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3184419/" onclick="moreurl(this,{i:'6',query:'',subject_id:'3184419',from:'music_subject_search'})" >
            Lenka
       </a>

            <p class="pl">Lenka / 2008-09-23 / 专辑 / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            83582人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3184419"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="3041487">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/3041487/" onclick="moreurl(this,{i:'7',query:'',subject_id:'3041487',from:'music_subject_search'})" title="王若琳 - Start from Here"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s2874587.jpg" alt="王若琳 - Start from Here" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3041487/" onclick="moreurl(this,{i:'7',query:'',subject_id:'3041487',from:'music_subject_search'})" >
            Start from Here
                <span style="font-size:12px;">从这里开始</span>
       </a>

            <p class="pl">王若琳 / 2008-01-11 / 专辑 / CD / 爵士</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            76293人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3041487"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1395089">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1395089/" onclick="moreurl(this,{i:'8',query:'',subject_id:'1395089',from:'music_subject_search'})" title="陈绮贞 - 旅行的意义"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s2617173.jpg" alt="陈绮贞 - 旅行的意义" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1395089/" onclick="moreurl(this,{i:'8',query:'',subject_id:'1395089',from:'music_subject_search'})" >
            旅行的意义
       </a>

            <p class="pl">陈绮贞 / 2004-02-02 / 单曲 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            100078人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1395089"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="3390002">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/3390002/" onclick="moreurl(this,{i:'9',query:'',subject_id:'3390002',from:'music_subject_search'})" title="陈绮贞 - 太阳"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s3570839.jpg" alt="陈绮贞 - 太阳" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3390002/" onclick="moreurl(this,{i:'9',query:'',subject_id:'3390002',from:'music_subject_search'})" >
            太阳
                <span style="font-size:12px;">Immortal</span>
       </a>

            <p class="pl">陈绮贞 / 2009-01-22 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            77288人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3390002"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="2131368">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/2131368/" onclick="moreurl(this,{i:'10',query:'',subject_id:'2131368',from:'music_subject_search'})" title="Glen Hansard... - Once (Soundtrack)"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s2821080.jpg" alt="Glen Hansard... - Once (Soundtrack)" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2131368/" onclick="moreurl(this,{i:'10',query:'',subject_id:'2131368',from:'music_subject_search'})" >
            Once (Soundtrack)
                <span style="font-size:12px;">Once / 电影《曾经》原声大碟</span>
       </a>

            <p class="pl">Glen Hansard,Marketa Irglova / 2007-05-22 / Soundtrack / CD / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            73289人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2131368"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1394765">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1394765/" onclick="moreurl(this,{i:'11',query:'',subject_id:'1394765',from:'music_subject_search'})" title="Keren Ann - Not Going Anywhere"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s1431228.jpg" alt="Keren Ann - Not Going Anywhere" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394765/" onclick="moreurl(this,{i:'11',query:'',subject_id:'1394765',from:'music_subject_search'})" >
            Not Going Anywhere
                <span style="font-size:12px;">守候</span>
       </a>

            <p class="pl">Keren Ann / 2004-08-24 / Import / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            62517人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394765"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1396380">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1396380/" onclick="moreurl(this,{i:'12',query:'',subject_id:'1396380',from:'music_subject_search'})" title="Green Day - American Idiot"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s1485602.jpg" alt="Green Day - American Idiot" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1396380/" onclick="moreurl(this,{i:'12',query:'',subject_id:'1396380',from:'music_subject_search'})" >
            American Idiot
       </a>

            <p class="pl">Green Day / 2004-09-21 / Explicit Lyrics / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            73624人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1396380"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="2134548">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/2134548/" onclick="moreurl(this,{i:'13',query:'',subject_id:'2134548',from:'music_subject_search'})" title="张震岳 Csun Yuk - 思念是一种病"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s2591057.jpg" alt="张震岳 Csun Yuk - 思念是一种病" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2134548/" onclick="moreurl(this,{i:'13',query:'',subject_id:'2134548',from:'music_subject_search'})" >
            思念是一种病
                <span style="font-size:12px;">OK</span>
       </a>

            <p class="pl">张震岳 Csun Yuk / 2007-07-06 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            83420人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2134548"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="3717116">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/3717116/" onclick="moreurl(this,{i:'14',query:'',subject_id:'3717116',from:'music_subject_search'})" title="苏打绿 - 無與倫比的美麗"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s2757483.jpg" alt="苏打绿 - 無與倫比的美麗" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3717116/" onclick="moreurl(this,{i:'14',query:'',subject_id:'3717116',from:'music_subject_search'})" >
            無與倫比的美麗
                <span style="font-size:12px;">无与伦比的美丽</span>
       </a>

            <p class="pl">苏打绿 / 2007-11-02 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            90723人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3717116"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="2131595">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/2131595/" onclick="moreurl(this,{i:'15',query:'',subject_id:'2131595',from:'music_subject_search'})" title="张悬 - 亲爱的...我还不知道"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s2604331.jpg" alt="张悬 - 亲爱的...我还不知道" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2131595/" onclick="moreurl(this,{i:'15',query:'',subject_id:'2131595',from:'music_subject_search'})" >
            亲爱的...我还不知道
                <span style="font-size:12px;">親愛的…我還不知道</span>
       </a>

            <p class="pl">张悬 / 2007-07-20 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            66818人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2131595"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="3801228">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/3801228/" onclick="moreurl(this,{i:'16',query:'',subject_id:'3801228',from:'music_subject_search'})" title="张悬 - 城市"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s3786340.jpg" alt="张悬 - 城市" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3801228/" onclick="moreurl(this,{i:'16',query:'',subject_id:'3801228',from:'music_subject_search'})" >
            城市
                <span style="font-size:12px;">The City</span>
       </a>

            <p class="pl">张悬 / 2009-05-22 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            65736人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3801228"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1394590">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1394590/" onclick="moreurl(this,{i:'17',query:'',subject_id:'1394590',from:'music_subject_search'})" title="Damien Rice - O"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s2838077.jpg" alt="Damien Rice - O" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394590/" onclick="moreurl(this,{i:'17',query:'',subject_id:'1394590',from:'music_subject_search'})" >
            O
       </a>

            <p class="pl">Damien Rice / 2003 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            53079人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394590"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1431596">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1431596/" onclick="moreurl(this,{i:'18',query:'',subject_id:'1431596',from:'music_subject_search'})" title="Green Day - Wake Me Up When September Ends"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s3572868.jpg" alt="Green Day - Wake Me Up When September Ends" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1431596/" onclick="moreurl(this,{i:'18',query:'',subject_id:'1431596',from:'music_subject_search'})" >
            Wake Me Up When September Ends
                <span style="font-size:12px;">九月结束的时候叫醒我</span>
       </a>

            <p class="pl">Green Day / 2005-06-13 / 单曲 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.4</span>
                <span class="pl">
                    (
                            54670人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1431596"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1406522">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1406522/" onclick="moreurl(this,{i:'19',query:'',subject_id:'1406522',from:'music_subject_search'})" title="周杰伦 - 叶惠美"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s29265961.jpg" alt="周杰伦 - 叶惠美" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1406522/" onclick="moreurl(this,{i:'19',query:'',subject_id:'1406522',from:'music_subject_search'})" >
            叶惠美
                <span style="font-size:12px;">葉惠美 / Yeh Hui-Mei</span>
       </a>

            <p class="pl">周杰伦 / 2003-07-31 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            109941人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1406522"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1401853">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1401853/" onclick="moreurl(this,{i:'20',query:'',subject_id:'1401853',from:'music_subject_search'})" title="周杰伦 - 七里香"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s3737076.jpg" alt="周杰伦 - 七里香" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1401853/" onclick="moreurl(this,{i:'20',query:'',subject_id:'1401853',from:'music_subject_search'})" >
            七里香
                <span style="font-size:12px;">Common Jasmin Orange</span>
       </a>

            <p class="pl">周杰伦 / 2004 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            168842人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1401853"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="5351500">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/5351500/" onclick="moreurl(this,{i:'21',query:'',subject_id:'5351500',from:'music_subject_search'})" title="Adele - 21"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s4527315.jpg" alt="Adele - 21" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/5351500/" onclick="moreurl(this,{i:'21',query:'',subject_id:'5351500',from:'music_subject_search'})" >
            21
       </a>

            <p class="pl">Adele / 2011-01-24 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            75008人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_5351500"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1788174">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1788174/" onclick="moreurl(this,{i:'22',query:'',subject_id:'1788174',from:'music_subject_search'})" title="张悬 - My Life Will..."  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s1884457.jpg" alt="张悬 - My Life Will..." style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1788174/" onclick="moreurl(this,{i:'22',query:'',subject_id:'1788174',from:'music_subject_search'})" >
            My Life Will...
       </a>

            <p class="pl">张悬 / 2006-06-09 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            58904人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1788174"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1402531">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1402531/" onclick="moreurl(this,{i:'23',query:'',subject_id:'1402531',from:'music_subject_search'})" title="王菲 - 寓言"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s3336480.jpg" alt="王菲 - 寓言" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1402531/" onclick="moreurl(this,{i:'23',query:'',subject_id:'1402531',from:'music_subject_search'})" >
            寓言
       </a>

            <p class="pl">王菲 / 2000 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.4</span>
                <span class="pl">
                    (
                            70016人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1402531"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="6816154">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/6816154/" onclick="moreurl(this,{i:'24',query:'',subject_id:'6816154',from:'music_subject_search'})" title="苏打绿 - 你在煩惱什麼"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s6987806.jpg" alt="苏打绿 - 你在煩惱什麼" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/6816154/" onclick="moreurl(this,{i:'24',query:'',subject_id:'6816154',from:'music_subject_search'})" >
            你在煩惱什麼
                <span style="font-size:12px;">你在烦恼什么</span>
       </a>

            <p class="pl">苏打绿 / 2011-11-11 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            58790人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_6816154"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="10">1</span>
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                
            <a href="https://music.douban.com/top250?start=125" >6</a>
        
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                
            <a href="https://music.douban.com/top250?start=175" >8</a>
        
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=25"/>
            <a href="https://music.douban.com/top250?start=25" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐 Top 250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://fm.douban.com/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    

    <!-- COLLECTED JS -->
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dae-web-music--default-b66656485-v4btb-->

  <script>_SPLITTEST=''</script>
</body>

</html>



